{% extends 'layout.html.twig' %}
{% block title %} {{parent()}} | Abonnement {% endblock %}
{% block meta %}
<meta name="description" content="">
{% endblock %}
{% block dataStructured %}{% endblock %}
{% block stylesheets %}
{{parent()}}
  <style type="text/css">
    body{
      background: #F7F9FC !important;
    }
    .container-page{
      margin-top: 90px;
      height: calc( 100vh - 90px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .paid-success{
      font-size: 35px;
      text-align: center;
    }
    .bg-light{margin-top: 7rem}
    .white-bg-btn{background: #fff; color: #555A64}
  </style>
{% endblock %}
{% block body_web %}
<section class="bg-light">
      <div class="container" id="formule-container">
        <h3 style="text-align: center;color: #d81b60;">Nos formules</h3>
        <div class="row align-items-center justify-content-center">
          
          {% for formule   in formules %}
            <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="card card-body align-items-center shadow">
                <div class="text-center mb-4">
                  <h4>{{formule.name}}</h4>
                  <div class="d-flex align-items-center justify-content-center mb-1">
                    <span class="h5 mb-0 mr-2">€</span>
                    <span class="display-3 mb-0 text-dark">{{formule.price}}</span>
                  </div>
                  <div>{{formule.month}} mois</div>
                </div>
                <ul class="list-unstyled p-0">
                  <li class="my-3">
                     <div class="d-flex align-items-center">
                        <div class="rounded-circle bg-success-alt">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <h6 class="mb-0 ml-3">Livraison  {{formule.getPriceShipping()}} €</h6>
                     </div>
                  </li>
                </ul>
                <span class="btn btn-lg btn-block btn-primary btn-commander" onclick="addFormuleToCard2({{formule.id}})" >Payer</span>
                <a class="btn btn-lg btn-block btn-primary white-bg-btn" href="{{path('success_payment')}}" style="background: #fff; color: #555A64!important" >Pas maintenant</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock body_web %}
{% block javascripts %}
{{parent()}}
  <script type="text/javascript">
    $('.slide-to-formule').click(function(){
      $('html, body').animate({scrollTop:($("#formule-container").offset().top)-100}, 500);
    });

    function addFormuleToCard2(id,qty=1){
      $('.btn-commander').text('Initialisation paiement...');
      $('.btn-commander').css('pointer-events', 'none');
      $paidOneClick = true;
      $formulePaid = true;
      addToCard(id,qty,"formule");
    }

  </script>
{% endblock %}