{% extends 'layout_optimize.html.twig' %}
{% block title %} {{parent()}} | {{ 'accueil.mask_anti_point_noir'|trans({}, 'home') }} {% endblock %}
{% block meta %}
<meta name="description" content="">
{% endblock %}
{% block dataStructured %}{% endblock %}
{% block stylesheets %}
{{parent()}}
  <link rel="stylesheet" type="text/css" href="{{asset('assets/css/marque.css')}}">
   <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
   <script src="{{asset('assets/js/Map.js')}}"></script>
{% endblock %}

{% block url_trans %}{{ path(''~url_name, {'_locale': app.request.locale == "fr" ? "it" : "fr"}) }}{% endblock %}
{% block body_web %}

<div data-overlay class="bg-primary-3 jarallax text-white" data-jarallax data-speed="0.2">
   <section class="pb-0">
      <img src="https://imgur.com/0f02T0c.png"  alt="Background" class="jarallax-img" loading="lazy">
      <div class="container pb-5">
         <div class="row section-title justify-content-center text-center">
            <div class="col-md-9 col-lg-8 col-xl-9">
               <h2 class="display-4" style="
                  margin-bottom: 5px;
                  font-weight: 100;
                  ">{{ 'accueil.h1'|trans({}, 'home') }}</h2>
               <div class="lead" style="
                  font-size: 29px;
                  font-weight: 700;
                  text-transform: uppercase;
                  ">{{ 'accueil.h2'|trans({}, 'home') }}</div>
            </div>
         </div>
      </div>
      <div class="divider divider-bottom bg-primary-1 mt-5"></div>
   </section>
</div>

<section class="pt-0 pb-0">
   <div class="container">
      <div class="row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left" style="
         margin-top: -150px;
         ">
         <div class="col-md-10 col-lg-7 col-xl-6 pl-lg-5 pl-xl-0">
            <img src="{{asset('assets/img/prod-min.png')}}" class="img-fluid"  loading="lazy"  style="width: 210px;float: right;margin-right: 25%;">
         </div>
         <div class="col-md-8 col-lg-4 col-xl mt-4 mt-md-5 mt-lg-0" style="padding-top: 13px;border-radius: 6px;box-shadow: 0px -165px 120px 2px rgba(0, 0, 0, 0.09) !important;">
           <div class="d-flex position-relative align-items-center justify-content-center rounded">
              <video id="videoFirst" class=" w-100 h-100" style="object-fit: cover;"></video>
              <img class="rounded img-fluid" src="https://imgur.com/TJk0PzY.png" alt="Video cover image" style="display:none">
              <a class="btn btn-lg btn-light rounded-circle position-absolute aos-init aos-animate btn-play" href="javascript:void()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon icon-lg bg-dark pl-1" data-src="/assets/img/icons/interface/icon-media-play.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                 <path d="M18.2403 11.5659C18.5762 11.7578 18.5762 12.2422 18.2403 12.4341L5.74807 19.5725C5.41474 19.763 5 19.5223 5 19.1384L5 4.86159C5 4.47768 5.41474 4.23699 5.74807 4.42747L18.2403 11.5659Z" fill="#2C3038"></path>
                </svg>
              </a>
            </div>
            <p class="lead" style="
               margin-top: 15px;
               font-size: 15px;
               margin-bottom: 15px;
               font-weight: 500;
               line-height: 20px;
               ">{{ 'accueil.p1'|trans({}, 'home') }} *</p>
            <a href="{{path('marque')}}#commande" class="btn btn-primary-3 btn-lg" style="
               border-radius: 6px;
               font-weight: 500;
               font-size: 18px;
               padding: 15px 30px;
               ">{{ 'global.buy_now'|trans({}, 'global') }}</a>
         </div>
      </div>
   </div>
</section>
<section class="rowlyo-section">
   <div class="container" style="max-width: 1300px;">
      <div class="row justify-content-center rowlyo">
         <div >
            <div>
               <img  alt="miniature" loading="lazy" style="width: 60px;height: auto;" src="https://www.brulafine.com/assets/images/footer-icon-01.svg"  class="jarallax-img">
            </div>
            <div class="text-container">
               <p>{{ 'accueil.percent_naturel'|trans({}, 'home') }}</p>
               <p>{{ 'accueil.percent_naturel_desc'|trans({}, 'home') }}</p>
            </div>
         </div>
         <div >
            <div>
               <img  alt="miniature" style="width: 60px;height: auto;" src="https://www.brulafine.com/assets/images/footer-icon-04.svg" loading="lazy"   class="jarallax-img">
            </div>
            <div >
               <p >{{ 'accueil.made_in'|trans({}, 'home') }}</p>
               <p >{{ 'accueil.made_in_desc'|trans({}, 'home') }}</p>
            </div>
         </div>
         <div >
            <div >
               <img  alt="miniature" style="width: 60px;height: auto;" src="https://www.brulafine.com/assets/images/footer-icon-07.svg"  class="jarallax-img" loading="lazy" >
            </div>
            <div >
               <p >{{ 'accueil.by_laboratoire'|trans({}, 'home') }}</p>
               <p >{{ 'accueil.by_laboratoire_desc'|trans({}, 'home') }}</p>
            </div>
         </div>
         <div >
            <div>
               <img  alt="miniature" style="width: 60px;height: auto;" src="https://www.brulafine.com/assets/images/footer-icon-05.svg"  class="jarallax-img" loading="lazy" >
            </div>
            <div >
               <p >{{ 'accueil.livraison_gratuite'|trans({}, 'home') }}</p>
               <p >{{ 'accueil.livraison_gratuite_desc'|trans({}, 'home') }}</p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="o-hidden" style=" background: #eff7ee; ">
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-10">
            <h3 class="display-4" style=" margin-bottom: 0px; ">{{ 'accueil.peau_parfaite'|trans({}, 'home')|raw }} <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate" style=" background-image: linear-gradient(120deg, #8bc889 0%, #eff7ee 100%); ">{{ 'accueil.quatre_passage'|trans({}, 'home') }}</mark> !</h3>
         </div>
      </div>
     
      <div class="container">
         <div class="row">
            <div class="col">
               <ul class="nav nav-pills lead mb-4 mb-md-5 justify-content-center" id="myTab" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{ 'accueil.point_noir'|trans({}, 'home') }}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{ 'accueil.ride'|trans({}, 'home') }}</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">{{ 'accueil.hydratation'|trans({}, 'home') }}</a>
                  </li>
               </ul>
               <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                     <div class="row align-items-center justify-content-around">
                        <div class="col-lg-6 col-xl-7 text-lg-left mb-4 mb-md-5 mb-lg-0">
                           <div class="pr-lg-4 pr-xl-5 aos-init aos-animate" data-aos="fade-right">
                              <h3 class="h2" style=" font-weight: 500; ">{{ 'accueil.point_noir_aderons'|trans({}, 'home') }}</h3>
                              <p style="font-weight: 500; margin-bottom: 20px; color: #8bc889; line-height: 23px;">{{ 'accueil.masque_percent_naturel'|trans({}, 'home') }}</p>
                              <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="font-weight: 500;">{{ 'accueil.ingredient_naturel'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="font-weight: 500;">{{ 'accueil.masque_hydratation'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="
                                          font-weight: 500;
                                          ">{{ 'accueil.retrouver_confiance'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-xl-5 aos-init aos-animate" data-aos="fade-left">
                           <img src="{{asset('assets/img/remove-masque.gif')}}"   loading="lazy"  class=" w-100 h-100" style="max-height: 400px !important;"  style="width: 210px;float: right;margin-right: 25%;">
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                     <div class="row align-items-center justify-content-around">
                        <div class="col-lg-6 col-xl-5 text-lg-left mb-4 mb-md-5 mb-lg-0">
                           <div class="pr-lg-4 pr-xl-5 aos-init aos-animate" data-aos="fade-right">
                              <h3 class="h2" style=" font-weight: 500; ">{{ 'accueil.anti_ride_percent_natural'|trans({}, 'home') }}</h3>
                              <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="font-weight: 500;">{{ 'accueil.the_vert_agent_actif'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="
                                          font-weight: 500;
                                          ">{{ 'accueil.grace_polyphoénol'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="300">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="
                                          font-weight: 500;
                                          ">{{ 'accueil.lutte_relachement'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-xl-7 aos-init aos-animate" data-aos="fade-left">                                 
                           <img src="https://imgur.com/BgDubqK.png" class=" img-fluid rounded shadow border"  >
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                     <div class="row align-items-center justify-content-around">
                        <div class="col-lg-6 col-xl-5 text-lg-left mb-4 mb-md-5 mb-lg-0">
                           <div class="pr-lg-4 pr-xl-5 aos-init aos-animate" data-aos="fade-right">
                              <h3 class="h2" style=" font-weight: 500; ">{{ 'accueil.peau_propre'|trans({}, 'home') }}</h3>
                              <p style="font-weight: 500; margin-bottom: 20px; color: #8bc889; line-height: 23px;">{{ 'accueil.riche_antioxydants'|trans({}, 'home') }}</p>
                              <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="
                                          font-weight: 500;
                                          ">{{ 'accueil.calme_peau_irrite'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                                 <div class="mb-3 mr-4 ml-lg-0 mr-lg-4 aos-init aos-animate" data-aos="fade-left" data-aos-delay="200">
                                    <div class="d-flex align-items-center">
                                       <div class="rounded-circle bg-success-alt">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg m-2 icon icon-xs bg-success" data-src="assets/img/icons/interface/icon-check.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                             <path d="M20 6L9 17L4 12" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                          </svg>
                                       </div>
                                       <h6 class="mb-0 ml-3" style="
                                          font-weight: 500;
                                          ">{{ 'accueil.pouvoirs_vedettes'|trans({}, 'home') }}</h6>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-xl-7 aos-init aos-animate" data-aos="fade-left">
                           <img src="https://imgur.com/0f02T0c.png" loading="lazy" class=" img-fluid rounded shadow border"  >
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="p-0 border-top border-bottom row no-gutters">
   <div class="col-lg-5 col-xl-5 d-lg-flex flex-lg-column">
      <div class="d-lg-flex flex-column flex-fill controls-hover" data-flickity='{ "imagesLoaded": true, "wrapAround":true, "pageDots":false, "autoPlay":true }'>
         <div class="carousel-cell text-center">
            <img  src="https://i.imgur.com/uSKWOBX.png" class=" img-fluid"   loading="lazy">
         </div>
         <div class="carousel-cell text-center">
             <img src="https://i.imgur.com/9oUmzOW.png" class="img-fluid" src="https://i.imgur.com/npEcCvK.png">
         </div>
         <div class="carousel-cell text-center">
            <img src="https://i.imgur.com/L55I9hz.png" class=" img-fluid"   loading="lazy">
         </div>
         <div class="carousel-cell text-center">
            <img src="https://i.imgur.com/l4sI3Sn.png"  class=" img-fluid" loading="lazy">
         </div>
         <div class="carousel-cell text-center">
            <img src="https://i.imgur.com/cccohvg.png" class=" img-fluid" loading="lazy">
         </div>
      </div>
   </div>
  
   <div class="col-lg-7 col-xl-7" id="commande">
      <div class="container min-vh-lg-80 d-flex align-items-center">
         <div class="row justify-content-center">
            <div class="col col-md-10 col-xl-11 text-center text-lg-left">
               <section>
                  <div data-aosx="fade-right">
                     <h1 class="display-5">{{ 'accueil.mask_anti_point_noir'|trans({}, 'home') }} {{ 'accueil.au'|trans({}, 'home') }} <mark data-aosx="highlight-text" data-aos-delay="200">{{ 'accueil.the_vert'|trans({}, 'home') }}</mark> !</h1>
                     <p class="lead">
                     </p>

                    {% for product in products  %}

                     <div class="d-flex flex-wrap products-pack" style=" margin-bottom: 20px; ">
                      {% for number in 1..4  %}
                        <div class="custom-control custom-radio mr-4 {% if number == 2 %} active {% endif %}" for="product-{{product.id}}-{{number}}">
                           <div style="width: 52%;">
                              <label for="product-{{product.id}}-{{number}}">
                                 <span>
                                    <img src="/assets/img/TPNsH9D-n{{number}}.png"  alt="The" class="buy-product " loading="lazy">
                                 </span>

                                 {% if product.getNumberOfGift(number) %}
                                    <span style="color: #258152;font-size: 30px;">+</span>
                                    <span>
                                       <img  src="/assets/img/TPNsH9D-n{{product.getNumberOfGift(number)}}.png"  alt="
                                       The" class="gift-product buy-product" loading="lazy" >
                                    </span>
                                 {% endif %}
                              </label> 
                           </div>
                           <div style="width: 40%;display: flex;justify-content: center;">
                              <div>

                                 <div class="boule-price">
                                    {{number*product.getPriceTotal(number)}}<sup>€</sup></div>
                                 <div style="" class="offert-label" >
                                    {{number}} + {{product.getNumberOfGift(number)}} {{ 'accueil.offert'|trans({}, 'home') }}
                                 </div>
                              </div>
                           </div>
                           <div style="width: 8%;display: flex;">
                              <div class="radio-item">
                                  <input type="radio" id="product-{{product.id}}-{{number}}" name="product-{{product.id}}" value="{{number}}" {% if number == 2 %}  checked=""  {% endif %}>
                                  <label for="product-{{product.id}}-{{number}}"></label>
                              </div>
                           </div>

                         </div>

                        {% endfor  %}
                     
                  </div>
                  <div class="d-flex flex-column flex-sm-row mt-4 mt-md-5 justify-content-center justify-content-lg-start" data-aosx="fade-right" data-aos-delayx="300">
                     <a onclick="addToCard({{product.id}},$('input[name=product-{{product.id}}]:checked'). val())" class="btn btn-primary btn-lg" >{{ 'accueil.add_card'|trans({}, 'home') }}</a>
                     <a onclick="addToCard({{product.id}},$('input[name=product-{{product.id}}]:checked'). val())"  class="open-modal-payment btn btn-outline-primary btn-lg mx-sm-2 mx-lg-0 mr-lg-2 my-1 my-sm-0" style="color:#555A64; display:none" >{{ 'accueil.direct_paid'|trans({}, 'home') }}</a>
                  </div>
                  {% else %}
                            <div>{{ 'accueil.aucun_produit'|trans({}, 'home') }}</div>
                    {% endfor %}
               </section>
            </div>
         </div>
      </div>
   </div>
</section>

<section>
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-10">
            <h3 class="display-4">{{ 'accueil.nos_client_parle'|trans({}, 'home') }} <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate" style=" background-image: linear-gradient(120deg, #8bc889 0%, #f7f9fc 100%); ">{{ 'accueil.parlent'|trans({}, 'home') }}</mark><br/>{{ 'accueil.mieux_que_nous'|trans({}, 'home') }}</h3>
            <div class="lead">{{ 'accueil.gamme_au_service'|trans({}, 'home') }}</div>
         </div>
      </div>
      <div class="row">
           {% for temoignage in temoignages |slice(0, 3) %}
            <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
               <div class="card h-100 hover-box-shadow" style="
                  height: auto !important;
                  ">
                  <div class="card-body" style="
                     padding: 25px;
                     padding-bottom: 0px;
                     ">
                     
                     {% if temoignage.image %}
                     <div class="rounded o-hidden" style="border-radius: 0.3125rem 0.3125rem 0 0 !important;margin: -10px -10px 20px -10px;">
                        <div class="d-flex position-relative align-items-center justify-content-center rounded">
                            <img data-src="{{temoignage.image }}"  class="lazy rounded img-fluid"  loading="lazy"  style="width: 100%;height: 220px;" >
                           </a>
                        </div>
                     </div> 
                     {% endif %}
                     <h4 style="
                        margin-bottom: 0;
                        font-size: 20px;
                        ">{{temoignage.name}}</h4>
                     <p style="
                        margin-bottom: 5px;
                        font-size: 14px;
                        ">{{temoignage.location}}</p>
                     <div>
                         {% for i in  1..5  %}
                           {% if i <= temoignage.note|number_format  %}
                               <img src="https://i.ya-webdesign.com/images/loading-gif-png-5.gif" data-srcset="{{asset('assets/img/star_1.svg')}} 1x"  class="lazy"  style="width: 25px;height: auto;margin-bottom: 10px;" data-src="{{asset('assets/img/star_1.svg')}}">
                           {% else %}
                               <img src="https://i.ya-webdesign.com/images/loading-gif-png-5.gif" data-srcset="{{asset('assets/img/star_0.svg')}} 1x"  class="lazy"  style="width: 25px;height: auto;margin-bottom: 10px;" data-src="{{asset('assets/img/star_0.svg')}}">
                           {% endif %}
                        {% endfor %}
                     </div>
                     <p>
                        {% if app.request.locale == "it" %}
                           <p>{{temoignage.getTextIt|raw }}</p>
                        {% else %}
                           <p>{{temoignage.text|raw }}</p>
                        {% endif %}
                     </p>
                     <img src="https://i.ya-webdesign.com/images/loading-gif-png-5.gif" data-srcset="{{asset('assets/img/prod-min.png')}} 1x"  class="lazy"  style="height: 60px;margin-bottom: -33px;" data-src="{{asset('assets/img/TPNsH9D.png')}}">
                     <div style="
                        background: #009b72;
                        color: #ffffff;
                        font-size: 16px;
                        text-align: center;
                        padding: 15px 0px;
                        border-radius: 0rem 0rem 0.3125rem 0.3125rem;
                        margin: 0px -25px;
                        ">{% if app.request.locale == "it" %}
                        <span>{{temoignage.getProgressIt}}</span>
                     {% else %}
                        <span>{{temoignage.progress}}</span>
                     {% endif %}</div>
                  </div>
               </div>
            </div>
         {% else %}
            <div>{{ 'accueil.aucun_temoigange'|trans({}, 'home') }}</div>
    {% endfor %}
      </div>
   </div>
   </div>
</section>

<div class="custom-lazy-load" lazy-target="marque">
   <div class="ph-item">
     <div class="ph-col-12">
       <div class="ph-picture"></div>
       <div class="ph-row">
         <div class="ph-col-4"></div>
         <div class="ph-col-8 empty"></div>
         <div class="ph-col-12"></div>
       </div>
     </div>
     <!-- <div class="ph-col-2">
       <div class="ph-avatar"></div>
     </div> -->
     <div>
       <div class="ph-row">
         <div class="ph-col-12"></div>
         <div class="ph-col-2"></div>
         <div class="ph-col-10 empty"></div>
         <div class="ph-col-8 big"></div>
         <div class="ph-col-4 big empty"></div>
       </div>
     </div>
   </div>
</div>

<section id="map-wrapper" class="bg-primary-3 text-white jarallax" data-jarallax data-speed="0.75">
   <img src="https://www.galaxie-voyage.com/wp-content/uploads/2017/12/paris-le-jour.jpg" class="jarallax-img opacity-30 "   style="width: 100%;height: 20px;margin-top: -4px;">
   <div class="container min-vh-40 d-flex flex-column justify-content-center">
      <div class="row align-items-center justify-content-around">
         <div class="col-md-9 col-lg-6 col-xl-7 mb-4 mb-lg-0 order-lg-2 pl-lg-5">
            <div>
               <h2 class="h1 text-center text-lg-left">{{ 'accueil.proche_de_vous'|trans({}, 'home') }}</h2>
               <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                  <div class="my-4">
                     <div class="d-flex">
                        <div class="mr-3 mr-md-4">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="injected-svg icon bg-primary" data-src="assets/img/icons/theme/navigation/route.svg">
                              <title>Icon For Route</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                 <path d="M8,7 C7.44771525,7 7,6.55228475 7,6 C7,5.44771525 7.44771525,5 8,5 L16,5 C18.209139,5 20,6.790861 20,9 C20,11.209139 18.209139,13 16,13 L8,13 C6.8954305,13 6,13.8954305 6,15 C6,16.1045695 6.8954305,17 8,17 L17,17 C17.5522847,17 18,17.4477153 18,18 C18,18.5522847 17.5522847,19 17,19 L8,19 C5.790861,19 4,17.209139 4,15 C4,12.790861 5.790861,11 8,11 L16,11 C17.1045695,11 18,10.1045695 18,9 C18,7.8954305 17.1045695,7 16,7 L8,7 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                 <path d="M9.79289322,3.79289322 C10.1834175,3.40236893 10.8165825,3.40236893 11.2071068,3.79289322 C11.5976311,4.18341751 11.5976311,4.81658249 11.2071068,5.20710678 L8.20710678,8.20710678 C7.81658249,8.59763107 7.18341751,8.59763107 6.79289322,8.20710678 L3.79289322,5.20710678 C3.40236893,4.81658249 3.40236893,4.18341751 3.79289322,3.79289322 C4.18341751,3.40236893 4.81658249,3.40236893 5.20710678,3.79289322 L7.5,6.08578644 L9.79289322,3.79289322 Z" fill="#000000" fill-rule="nonzero" transform="translate(7.500000, 6.000000) rotate(-270.000000) translate(-7.500000, -6.000000) "></path>
                                 <path d="M18.7928932,15.7928932 C19.1834175,15.4023689 19.8165825,15.4023689 20.2071068,15.7928932 C20.5976311,16.1834175 20.5976311,16.8165825 20.2071068,17.2071068 L17.2071068,20.2071068 C16.8165825,20.5976311 16.1834175,20.5976311 15.7928932,20.2071068 L12.7928932,17.2071068 C12.4023689,16.8165825 12.4023689,16.1834175 12.7928932,15.7928932 C13.1834175,15.4023689 13.8165825,15.4023689 14.2071068,15.7928932 L16.5,18.0857864 L18.7928932,15.7928932 Z" fill="#000000" fill-rule="nonzero" transform="translate(16.500000, 18.000000) scale(1, -1) rotate(270.000000) translate(-16.500000, -18.000000) "></path>
                              </g>
                           </svg>
                        </div>
                        <div>
                           <h5>{{ 'accueil.h2_3'|trans({}, 'home') }}</h5>
                           <div>{{ 'accueil.p4'|trans({}, 'home') }}</div>
                        </div>
                     </div>
                  </div>
                  <div class="my-4">
                     <div class="d-flex">
                        <div class="mr-3 mr-md-4">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="injected-svg icon bg-primary" data-src="assets/img/icons/theme/layout/layout-left-panel-2.svg">
                              <title>Icon For Layout-left-panel-2</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                                 <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000"></path>
                                 <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"></rect>
                              </g>
                           </svg>
                        </div>
                        <div>
                           <h5>{{ 'accueil.h2_4'|trans({}, 'home') }}</h5>
                           <div>{{ 'accueil.p5'|trans({}, 'home') }}</div>
                        </div>
                     </div>
                  </div>
                  <div class="my-4">
                     <div class="d-flex">
                        <div class="mr-3 mr-md-4">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="injected-svg icon bg-primary" data-src="assets/img/icons/theme/layout/layout-left-panel-2.svg">
                              <title>Icon For Layout-left-panel-2</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                                 <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000"></path>
                                 <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"></rect>
                              </g>
                           </svg>
                        </div>
                        <div>
                           <h5>{{ 'accueil.h2_5'|trans({}, 'home') }}</h5>
                           <div>{{ 'accueil.p6'|trans({}, 'home') }}</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="animation_container" class="col-md-9 col-lg-6 col-xl-5 order-lg-1">
            <canvas id="canvas" width="100%"></canvas>
            <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:100%; height:900px; position: absolute; left: 0px; top: 0px; display: block;">
            </div>
         </div>
      </div>
   </div>
</section>
<div class="drapeau">
   <div class="couleur"></div>
   <div class="couleur"></div>
   <div class="couleur"></div>
</div>

<div class="custom-lazy-load" lazy-target="marque_2">
   <div class="ph-item">
     <div class="ph-col-12">
       <div class="ph-picture"></div>
       <div class="ph-row">
         <div class="ph-col-4"></div>
         <div class="ph-col-8 empty"></div>
         <div class="ph-col-12"></div>
       </div>
     </div>
     <!-- <div class="ph-col-2">
       <div class="ph-avatar"></div>
     </div> -->
     <div>
       <div class="ph-row">
         <div class="ph-col-12"></div>
         <div class="ph-col-2"></div>
         <div class="ph-col-10 empty"></div>
         <div class="ph-col-8 big"></div>
         <div class="ph-col-4 big empty"></div>
       </div>
     </div>
   </div>
</div>

{% endblock body_web %}
{% block javascripts %}
{{parent()}}
   <script type="text/javascript">
      window.addEventListener("load",function(){
         init(); // init map js
         $('#animation_container').css('height','auto');
         $('#animation_container #canvas').css('height','auto');
         $('#animation_container #canvas').css('width','100%');
         $('#dom_overlay_container').css('width','100%');

         $(window).scroll(function() {
            if (checkVisible($('#map-wrapper'))) {
              $('#animation_container').css('height','auto');
              $('#animation_container #canvas').css('height','auto');
              $('#animation_container #canvas').css('width','100%');
              $('#dom_overlay_container').css('width','100%');            
            }
         });
         function checkVisible( elm, eval ) {
             eval = eval || "visible";
             var vpH = $(window).height(), // Viewport Height
                 st = $(window).scrollTop(), // Scroll Top
                 y = $(elm).offset().top,
                 elementHeight = $(elm).height();
             
             if (eval == "visible") return ((y < (vpH + st)) && (y > (st - elementHeight)));
             if (eval == "above") return ((y < (vpH + st)));
         }

         {% if app.request.locale == "it" %}
           $('#videoFirst').html('<source src="/assets/video/demo-it.mp4" type="video/mp4">');
         {% else %}
           $('#videoFirst').html('<source src="/assets/video/demo-fr.mp4" type="video/mp4">');
         {% endif %}

         var video=document.getElementById("videoFirst");
         $('.btn-play').click(function(){
           video.setAttribute("controls", "");
           video.play();
           $(this).css('display', 'none');
         });

         {%  if coupon %}
           addToCard('{{coupon}}',1,'coupon');
         {% endif %}

      });
   </script>
   <script>
      $.ajax({
        url:"https://www.instagram.com/{{  render(controller('App\\Controller\\ApiConfigController::getField',{name:'GALERY_INSTAGRAM_PROFILE'}) )  }}?__a=1",
        type:'get',
        success:function(response){
          posts = response.graphql.user.edge_owner_to_timeline_media.edges;
          posts_grid_bottom = posts_grid_left = posts_grid_right = '';
          console.log(posts);
          for(var i=0;i<posts.length;i++){
            url = posts[i].node.display_url;
            if(i == 4)
              $(".thumb-middle .image-center").html('<a href="'+url+'" target="_blank"><img src="'+url+'"></a>');
            else{
              if(i < 10){

                if(i < 4)
                  posts_grid_left += '<a href="'+url+'" target="_blank"><img src="'+url+'"></a>';
                else if(i > 4)
                  posts_grid_right += '<a href="'+url+'" target="_blank"><img src="'+url+'"></a>';
              }
              else{
                posts_grid_bottom += '<a href="'+url+'" target="_blank"><img src="'+url+'"></a>';  
              }
            }
          }
          $(".image-grid.grid-left").html(posts_grid_left);
          $(".image-grid.grid-right").html(posts_grid_right);
          //$(".image-grid.grid-bottom").html(posts_grid_bottom);
          $(".thumb-middle .image-center").css('height', $(".image-grid.grid-left").height());
        }
      });
      $(".products-pack > div").click(function(){
         $(".products-pack > div").removeClass("active");
         if(!$(this).hasClass("active")){
            $(this).addClass("active");
            $("input[type=radio]",this).prop("checked",true)
         }
      });
   </script>
{% endblock %}