<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>{% block title %}Vitanatural {% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block dataStructured %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {#<link rel="stylesheet" href="{{ asset('assets/plugins/toastr/toastr.min.css') }}"/>#}
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/base.css')}}">
    </head>
    <body data-base-url="{{url('home')}}" class="{% block class %}{% endblock %}">
    
      {% block body %}{% endblock %}

    <div class="toast__container">
      <div class="toast__cell">
      </div>
    </div>
      {% block css_hide_nav %}

        <style type="text/css">
          nav.position-lock.navbar ul.navbar-nav li.nav-item a {
               color: rgba(0, 0, 0, 0.6);
          }
          nav.position-lock.navbar  img.logo.default-logo{
              display: none;
          }
           nav.position-lock.navbar  img.logo.scrolled-logo{
              display: block;
          }
      </style>
      {% endblock %}
      {% block javascripts %}{% endblock %}

      <script src="{{ asset('assets/plugins/toastr/toastr.min.js') }}"></script>
      <script src="{{ asset('assets/plugins/jqueryvalidation/jquery.validate.min.js') }}"></script>
      <script src="{{ asset('assets/plugins/jqueryvalidation/localization/messages_fr.min.js') }}"></script>
      <script src="{{ asset('assets/plugins/jqueryvalidation/additional-methods.min.js') }}"></script>
      <script>
        jQuery(document).ready(function() { 
            {% for message in app.flashes('success') %}
                notification("Notification","{{ message }}","success");
            {% endfor %}
            {% for message in app.flashes('error') %}
                notification("Notification","{{ message }}","error");
            {% endfor %}
            {% for message in app.flashes('warning') %}
            notification("Notification","{{ message }}","warning");
            {% endfor %}
        });

        isObjectEmpty = function(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        };
    </script>
  </body>
</html>
