


<section id="ingredients" style=" background: #eff7ee; ">
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-10">
            <h3 class="display-4"><mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate" style=" background-image: linear-gradient(120deg, #8bc889 0%, #eff7ee 100%); ">{{ 'accueil.les_ingredients'|trans({}, 'home') }}</mark></h3>
            <div class="lead">{{ 'accueil.peau_merite'|trans({}, 'home') }}</div>
         </div>
      </div>
      <div class="row" style="
         margin: auto;
         ">
         <div class="col-lg-12 mb-3 mb-lg-5">
            <div class="row align-items-center">
               <div class="col-sm-4 mb-3 mb-sm-0">
                  <img src="https://www.bienmanger.com/tinyMceData/images/contents/475/content_lg.jpg" class=" img-fluid rounded" loading="lazy" >
               </div>
               <div class="col">
                  <h4>{{ 'accueil.the_vert'|trans({}, 'home') }}</h4>
                  <p>{{ 'accueil.the_vert_desc'|trans({}, 'home') }}</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
               <div class="col-sm-4 mb-3 mb-sm-0">
                  <img src="https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Ffac.2F2018.2F11.2F28.2Ff2bdec7f-bbad-46c5-9220-1e51a427f5d3.2Ejpeg/1200x1200/quality/80/crop-from/center/top-10-des-aliments-les-plus-riches-en-vitamine-c.jpeg " class=" img-fluid rounded"  loading="lazy" >
               </div>
               <div class="col">
                  <h4>{{ 'accueil.vitamine_c'|trans({}, 'home') }}</h4>
                  <p>{{ 'accueil.vitamine_c_desc'|trans({}, 'home') }}</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
               <div class="col-sm-4 mb-3 mb-sm-0">
                  <img src="/assets/img/square-3.jpg " class=" img-fluid rounded" loading="lazy" >
               </div>
               <div class="col">
                  <h4>{{ 'accueil.extrait_botanique'|trans({}, 'home') }}</h4>
                  <p>{{ 'accueil.extrait_botanique_desc'|trans({}, 'home') }}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
