


<section id="ingredients" style=" background: #eff7ee; ">
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-10">
            <h3 class="display-4"><mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate" style=" background-image: linear-gradient(120deg, #8bc889 0%, #eff7ee 100%); ">{{ 'accueil.les_ingredients'|trans({}, 'home') }}</mark></h3>
            <div class="lead">{{ 'accueil.peau_merite'|trans({}, 'home') }}</div>
         </div>
      </div>
      <div class="row" style="
         margin: auto;
         ">
         <div class="col-lg-12 mb-3 mb-lg-5">
            <div class="row align-items-center">
               <div class="col-sm-4 mb-3 mb-sm-0">
                  <img src="https://www.bienmanger.com/tinyMceData/images/contents/475/content_lg.jpg" class=" img-fluid rounded" loading="lazy" >
               </div>
               <div class="col">
                  <h4>{{ 'accueil.the_vert'|trans({}, 'home') }}</h4>
                  <p>{{ 'accueil.the_vert_desc'|trans({}, 'home') }}</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
               <div class="col-sm-4 mb-3 mb-sm-0">
                  <img src="https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Ffac.2F2018.2F11.2F28.2Ff2bdec7f-bbad-46c5-9220-1e51a427f5d3.2Ejpeg/1200x1200/quality/80/crop-from/center/top-10-des-aliments-les-plus-riches-en-vitamine-c.jpeg " class=" img-fluid rounded"  loading="lazy" >
               </div>
               <div class="col">
                  <h4>{{ 'accueil.vitamine_c'|trans({}, 'home') }}</h4>
                  <p>{{ 'accueil.vitamine_c_desc'|trans({}, 'home') }}</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 mb-3 mb-lg-5">
            <div class="row align-items-center">
               <div class="col-sm-4 mb-3 mb-sm-0">
                  <img src="/assets/img/square-3.jpg " class=" img-fluid rounded" loading="lazy" >
               </div>
               <div class="col">
                  <h4>{{ 'accueil.extrait_botanique'|trans({}, 'home') }}</h4>
                  <p>{{ 'accueil.extrait_botanique_desc'|trans({}, 'home') }}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="bg-primary-3 text-white jarallax" data-jarallax data-speed="0.75" style="margin-top: -4px;">
   <img src="https://www.galaxie-voyage.com/wp-content/uploads/2017/12/paris-le-jour.jpg" class=" jarallax-img opacity-30 "  loading="lazy" style="width: 100%;height: 20px;margin-top: -4px;">
   <div class="container min-vh-40 d-flex flex-column justify-content-center">
      <div class="row align-items-center justify-content-around">
         <div class="col-md-9 col-lg-6 col-xl-7 mb-4 mb-lg-0 order-lg-2 pl-lg-5">
            <div>
               <h2 class="h1 text-center text-lg-left">{{ 'accueil.proche_de_vous'|trans({}, 'home') }}</h2>
               <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                  <div class="my-4">
                     <div class="d-flex">
                        <div class="mr-3 mr-md-4">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="injected-svg icon bg-primary" data-src="assets/img/icons/theme/navigation/route.svg">
                              <title>Icon For Route</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                 <path d="M8,7 C7.44771525,7 7,6.55228475 7,6 C7,5.44771525 7.44771525,5 8,5 L16,5 C18.209139,5 20,6.790861 20,9 C20,11.209139 18.209139,13 16,13 L8,13 C6.8954305,13 6,13.8954305 6,15 C6,16.1045695 6.8954305,17 8,17 L17,17 C17.5522847,17 18,17.4477153 18,18 C18,18.5522847 17.5522847,19 17,19 L8,19 C5.790861,19 4,17.209139 4,15 C4,12.790861 5.790861,11 8,11 L16,11 C17.1045695,11 18,10.1045695 18,9 C18,7.8954305 17.1045695,7 16,7 L8,7 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                 <path d="M9.79289322,3.79289322 C10.1834175,3.40236893 10.8165825,3.40236893 11.2071068,3.79289322 C11.5976311,4.18341751 11.5976311,4.81658249 11.2071068,5.20710678 L8.20710678,8.20710678 C7.81658249,8.59763107 7.18341751,8.59763107 6.79289322,8.20710678 L3.79289322,5.20710678 C3.40236893,4.81658249 3.40236893,4.18341751 3.79289322,3.79289322 C4.18341751,3.40236893 4.81658249,3.40236893 5.20710678,3.79289322 L7.5,6.08578644 L9.79289322,3.79289322 Z" fill="#000000" fill-rule="nonzero" transform="translate(7.500000, 6.000000) rotate(-270.000000) translate(-7.500000, -6.000000) "></path>
                                 <path d="M18.7928932,15.7928932 C19.1834175,15.4023689 19.8165825,15.4023689 20.2071068,15.7928932 C20.5976311,16.1834175 20.5976311,16.8165825 20.2071068,17.2071068 L17.2071068,20.2071068 C16.8165825,20.5976311 16.1834175,20.5976311 15.7928932,20.2071068 L12.7928932,17.2071068 C12.4023689,16.8165825 12.4023689,16.1834175 12.7928932,15.7928932 C13.1834175,15.4023689 13.8165825,15.4023689 14.2071068,15.7928932 L16.5,18.0857864 L18.7928932,15.7928932 Z" fill="#000000" fill-rule="nonzero" transform="translate(16.500000, 18.000000) scale(1, -1) rotate(270.000000) translate(-16.500000, -18.000000) "></path>
                              </g>
                           </svg>
                        </div>
                        <div>
                           <h5>{{ 'accueil.h2_3'|trans({}, 'home') }}</h5>
                           <div>{{ 'accueil.p4'|trans({}, 'home') }}</div>
                        </div>
                     </div>
                  </div>
                  <div class="my-4">
                     <div class="d-flex">
                        <div class="mr-3 mr-md-4">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="injected-svg icon bg-primary" data-src="assets/img/icons/theme/layout/layout-left-panel-2.svg">
                              <title>Icon For Layout-left-panel-2</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                                 <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000"></path>
                                 <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"></rect>
                              </g>
                           </svg>
                        </div>
                        <div>
                           <h5>{{ 'accueil.h2_4'|trans({}, 'home') }}</h5>
                           <div>{{ 'accueil.p5'|trans({}, 'home') }}</div>
                        </div>
                     </div>
                  </div>
                  <div class="my-4">
                     <div class="d-flex">
                        <div class="mr-3 mr-md-4">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="injected-svg icon bg-primary" data-src="assets/img/icons/theme/layout/layout-left-panel-2.svg">
                              <title>Icon For Layout-left-panel-2</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                                 <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000"></path>
                                 <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"></rect>
                              </g>
                           </svg>
                        </div>
                        <div>
                           <h5>{{ 'accueil.h2_5'|trans({}, 'home') }}</h5>
                           <div>{{ 'accueil.p6'|trans({}, 'home') }}</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1">
            <img src="https://imgur.com/ooMm2Xx.png" class=" img-fluid" loading="lazy" >
         </div>
      </div>
   </div>
</section>
<img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg" loading="lazy" class=" img-fluid"  style="width: 100%;height: 20px;margin-top: -6px;">
<section>
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-10">
            <h3 class="display-4">{{ 'accueil.peau_parfaite'|trans({}, 'home')|raw }} <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate" style=" background-image: linear-gradient(120deg, #8bc889 0%, #f7f9fc 100%); ">{{ 'accueil.quatre_passage'|trans({}, 'home') }}</mark> !</h3>
            <div class="lead">{{ 'accueil.gamme_au_service'|trans({}, 'home') }}</div>
         </div>
      </div>
      <div class="row text-center">
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4" style="border: 1px solid #EAEDF2;border-radius: 10px;">
               <h5 style="margin-bottom: 0px;margin-top: 15px;font-size: 34px;font-weight: 600;color: #c8e4c7;font-family: 'Poppins', sans-serif;">1.</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.humidifier'|trans({}, 'home') }}</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 0px 30px;
                  ">{{ 'accueil.humidifier_desc'|trans({}, 'home') }}</h5>
               <img src="https://imgur.com/j0CCKZt.png" class=" img-fluid"  loading="lazy" style="height: 250px;">
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4" style="
               border: 1px solid #EAEDF2;
               border-radius: 10px;
               ">
               <h5 style="
                  margin-bottom: 0px;
                  margin-top: 15px;
                  font-size: 34px;
                  font-weight: 600;
                  color: #c8e4c7;
                  font-family: 'Poppins', sans-serif;
                  ">2.</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.appliquer'|trans({}, 'home') }}</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 0px 30px;
                  ">{{ 'accueil.appliquer_desc'|trans({}, 'home') }}</h5>
               <img src="https://imgur.com/dPLdHzE.png" class=" img-fluid" loading="lazy" style="height: 250px;">
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4" style="
               border: 1px solid #EAEDF2;
               border-radius: 10px;
               ">
               <h5 style="
                  margin-bottom: 0px;
                  margin-top: 15px;
                  font-size: 34px;
                  font-weight: 600;
                  color: #c8e4c7;
                  font-family: 'Poppins', sans-serif;
                  ">3.</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.rincer'|trans({}, 'home') }}</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 0px 30px;
                  ">{{ 'accueil.rincer_desc'|trans({}, 'home') }}</h5>
               <img src="https://imgur.com/wuwDbxe.png" class=" img-fluid"  loading="lazy" style="height: 250px;">
            </div>
         </div>
      </div>
   </div>
</section>
{#<!--
<section class="p-0 bg-primary row no-gutters o-hidden">
   <div class="col-lg-5 col-xl-6 d-flex align-items-center justify-content-center">
      <a data-fancybox="" href="https://vimeo.com/166034462#t=32s" class="btn btn-lg btn-light rounded-circle position-absolute aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon icon-lg bg-dark pl-1" data-src="assets/img/icons/interface/icon-media-play.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M18.2403 11.5659C18.5762 11.7578 18.5762 12.2422 18.2403 12.4341L5.74807 19.5725C5.41474 19.763 5 19.5223 5 19.1384L5 4.86159C5 4.47768 5.41474 4.23699 5.74807 4.42747L18.2403 11.5659Z" fill="#2C3038"></path>
         </svg>
      </a>
      <img src="https://imgur.com/OB4BBK7.png" class=" w-100 h-100" loading="lazy" >
      <div class="divider divider-side bg-primary d-none d-lg-block"></div>
   </div>
   <div class="col-lg-7 col-xl-6">
      <section>
         <div class="container">
            <div class="row justify-content-center">
               <div class="col col-md-10 col-xl-9">
                  <div class="text-white text-center text-lg-left">
                     <h3 class="h1">{{ 'accueil.cree_vita'|trans({}, 'home') }}</h3>
                     <p class="lead">{{ 'accueil.efficacite_maque'|trans({}, 'home') }}</p>
                  </div>
                  <div class="d-flex flex-wrap justify-content-center justify-content-lg-start mt-4 mt-md-5">
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn1.iconfinder.com/data/icons/flat-green-organic-natural-badges/500/100-vegan-4-512.png"  class="img-fluid"  style=" height: 27px; "loading="lazy">
                           <h6 class="mb-0 ml-2">{{ 'accueil.vegane'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn0.iconfinder.com/data/icons/vegan-4/64/broccoli-food-vegan-supermarket-512.png"  class="img-fluid "  style=" height: 27px; " loading="lazy">
                           <h6 class="mb-0 ml-2">{{ 'accueil.saint_naturel'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn0.iconfinder.com/data/icons/vegan-4/64/broccoli-food-vegan-supermarket-512.png"  class="img-fluid"  style=" height: 27px; " >
                           <h6 class="mb-0 ml-2">{{ 'accueil.sans_ogm'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn0.iconfinder.com/data/icons/vegan-4/64/broccoli-food-vegan-supermarket-512.png "  class="img-fluid "  style=" height: 27px; ">
                           <h6 class="mb-0 ml-2">{{ 'accueil.sans_collorant'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn0.iconfinder.com/data/icons/vegan-4/64/broccoli-food-vegan-supermarket-512.png"  class="img-fluid"  style=" height: 27px; ">
                           <h6 class="mb-0 ml-2">{{ 'accueil.sans_concervateur'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn0.iconfinder.com/data/icons/vegan-4/64/broccoli-food-vegan-supermarket-512.png" class="img-fluid "  style=" height: 27px; ">
                           <h6 class="mb-0 ml-2">{{ 'accueil.sans_gluten'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn0.iconfinder.com/data/icons/vegan-4/64/broccoli-food-vegan-supermarket-512.png" class="img-fluid "  style=" height: 27px; ">
                           <h6 class="mb-0 ml-2">{{ 'accueil.sans_HPMC'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                     <div class="mx-2 ml-sm-0 ml-sm-0 mb-2 bg-white rounded p-2 pr-3 p-md-3 pr-md-4">
                        <div class="d-flex align-items-center">
                           <img src="https://cdn0.iconfinder.com/data/icons/vegan-4/64/broccoli-food-vegan-supermarket-512.png" class="img-fluid "  style=" height: 27px; ">
                           <h6 class="mb-0 ml-2">{{ 'accueil.sans_dioxyde'|trans({}, 'home') }}</h6>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</section>
<section style=" padding-bottom: 4.5rem !important; ">
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-10">
            <h3 class="display-4">{{ 'accueil.nos_produit'|trans({}, 'home') }} <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate" style=" background-image: linear-gradient(120deg, #8bc889 0%, #ffffff 100%); ">{{ 'accueil.produits'|trans({}, 'home') }}</mark></h3>
            <div class="lead">{{ 'accueil.gamme_au_service'|trans({}, 'home') }}</div>
         </div>
      </div>
      <div class="row text-center">
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4">
               <img src="{{asset('assets/img/prod-min.png')}}" loading="lazy" alt="Kyan logo" style="
                  height: 110px;
                  margin-bottom: 5px;
                  ">
               <h5 style="
                  margin-bottom: 0px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.objectis_minceur'|trans({}, 'home') }}</h5>
               <p style="
                  font-size: 18px;
                  font-weight: 600;
                  color: #8bc889;
                  margin-bottom: 10px;
                  ">39€ {{ 'accueil.au_lieu'|trans({}, 'home') }} 59€</p>
               <div style="
                  margin: auto;
                  display: inline-flex;
                  ">
                  <ul class="avatar-group">
                     <li>
                        <img src="/assets/img/avatars/male-2.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-3.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-4.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-5.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                  </ul>
               </div>
               <a href="#" class="btn btn-primary" style="font-weight: 400;margin-left: 5px;">{{ 'global.ajouter'|trans({}, 'global') }}</a>
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4">
               <img src="https://www.brulafine.com/assets/images/product/hero.png" alt="Kyan logo" style="
                  height: 110px;
                  margin-bottom: 5px;
                  ">
               <h5 style="
                  margin-bottom: 0px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.objectis_drainer'|trans({}, 'home') }}</h5>
               <p style="
                  font-size: 18px;
                  font-weight: 600;
                  color: #8bc889;
                  margin-bottom: 10px;
                  ">39€ {{ 'accueil.au_lieu'|trans({}, 'home') }} 59€</p>
               <div style="
                  margin: auto;
                  display: inline-flex;
                  ">
                  <ul class="avatar-group">
                     <li>
                        <img src="/assets/img/avatars/male-2.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-3.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-4.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-5.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                  </ul>
               </div>
               <a href="#" class="btn btn-primary" style="font-weight: 400;margin-left: 5px;">{{ 'global.ajouter'|trans({}, 'global') }}</a>
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4">
               <img src="https://www.brulafine.com/assets/images/product/hero.png" alt="Kyan logo" style="
                  height: 110px;
                  margin-bottom: 5px;
                  ">
               <h5 style="
                  margin-bottom: 0px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.objectis_detox'|trans({}, 'home') }}</h5>
               <p style="
                  font-size: 18px;
                  font-weight: 600;
                  color: #8bc889;
                  margin-bottom: 10px;
                  ">39€ {{ 'accueil.au_lieu'|trans({}, 'home') }} 59€</p>
               <div style="
                  margin: auto;
                  display: inline-flex;
                  ">
                  <ul class="avatar-group">
                     <li>
                        <img src="/assets/img/avatars/male-2.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-3.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-4.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                     <li>
                        <img src="/assets/img/avatars/male-5.jpg" alt="Avatar" class="avatar avatar-sm">
                     </li>
                  </ul>
               </div>
               <a href="#" class="btn btn-primary" style="font-weight: 400;margin-left: 5px;">{{ 'global.ajouter'|trans({}, 'global') }}</a>
            </div>
         </div>
      </div>
   </div>
</section>-->#}
<div class="row section-title justify-content-center text-center" style="
   margin-bottom: 0;
   background: #f1f1f1;
   ">
   <div class="col-md-9 col-lg-8 col-xl-10">
      <h3 class="display-4" style="font-size: 21px;color: #1d1d1d;margin-bottom: 0px;padding: 15px 0px;font-weight: 600;">Instagram : @vitanaturalfrance</h3>
   </div>
</div>
<div class="" style=" margin: 0; ">
   <!-- <div class=""> -->
   <div class="img-thumb" style="height: 100%;">
   </div>
   <div class="thumb-middle">
      <div class="image-grid grid-left" style="height: 100%;">
      </div>
      <div class="image-center" style="height: 100%;">
      </div>
      <div class="image-grid grid-right" style="height: 100%;">
      </div>
   </div>
   <div class="image-grid grid-bottom" style="height: 100%;">
   </div>
   <!-- </div> -->
   <!-- <img alt="miniature" style="width: 100%;height: auto;" src="https://imgur.com/e7lw8Og.png">  -->
</div>
<script>
   $.ajax({
     url:"https://www.instagram.com/{{  render(controller('App\\Controller\\ApiConfigController::getField',{name:'GALERY_INSTAGRAM_PROFILE'}) )  }}?__a=1",
     type:'get',
     success:function(response){
       posts = response.graphql.user.edge_owner_to_timeline_media.edges;
       posts_grid_bottom = posts_grid_left = posts_grid_right = '';
       console.log(posts);
       for(var i=0;i<posts.length;i++){
         url = posts[i].node.display_url;
         if(i == 4)
           $(".thumb-middle .image-center").html('<a href="'+url+'" target="_blank"><img src="'+url+'"></a>');
         else{
           if(i < 10){
   
             if(i < 4)
               posts_grid_left += '<a href="'+url+'" target="_blank"><img src="'+url+'"></a>';
             else if(i > 4)
               posts_grid_right += '<a href="'+url+'" target="_blank"><img src="'+url+'"></a>';
           }
           else{
             posts_grid_bottom += '<a href="'+url+'" target="_blank"><img src="'+url+'"></a>';  
           }
         }
       }
       $(".image-grid.grid-left").html(posts_grid_left);
       $(".image-grid.grid-right").html(posts_grid_right);
       //$(".image-grid.grid-bottom").html(posts_grid_bottom);
       $(".thumb-middle .image-center").css('height', $(".image-grid.grid-left").height());
     }
   });
   $(".products-pack > div").click(function(){
      $(".products-pack > div").removeClass("active");
      if(!$(this).hasClass("active")){
         $(this).addClass("active");
         $("input[type=radio]",this).prop("checked",true)
      }

   });
</script>
