
<section>
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-10">
            <h3 class="display-4">{{ 'accueil.peau_parfaite'|trans({}, 'home')|raw }} <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate" style=" background-image: linear-gradient(120deg, #8bc889 0%, #f7f9fc 100%); ">{{ 'accueil.quatre_passage'|trans({}, 'home') }}</mark> !</h3>
            <div class="lead">{{ 'accueil.gamme_au_service'|trans({}, 'home') }}</div>
         </div>
      </div>
      <div class="row text-center">
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4" style="border: 1px solid #EAEDF2;border-radius: 10px;">
               <h5 style="margin-bottom: 0px;margin-top: 15px;font-size: 34px;font-weight: 600;color: #c8e4c7;font-family: 'Poppins', sans-serif;">1.</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.humidifier'|trans({}, 'home') }}</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 0px 30px;
                  ">{{ 'accueil.humidifier_desc'|trans({}, 'home') }}</h5>
               <img src="https://imgur.com/j0CCKZt.png" class=" img-fluid"  loading="lazy" style="height: 250px;">
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4" style="
               border: 1px solid #EAEDF2;
               border-radius: 10px;
               ">
               <h5 style="
                  margin-bottom: 0px;
                  margin-top: 15px;
                  font-size: 34px;
                  font-weight: 600;
                  color: #c8e4c7;
                  font-family: 'Poppins', sans-serif;
                  ">2.</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.appliquer'|trans({}, 'home') }}</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 0px 30px;
                  ">{{ 'accueil.appliquer_desc'|trans({}, 'home') }}</h5>
               <img src="https://imgur.com/dPLdHzE.png" class=" img-fluid" loading="lazy" style="height: 250px;">
            </div>
         </div>
         <div class="col-md-6 col-lg-4 mb-4 mb-md-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="mx-xl-4" style="
               border: 1px solid #EAEDF2;
               border-radius: 10px;
               ">
               <h5 style="
                  margin-bottom: 0px;
                  margin-top: 15px;
                  font-size: 34px;
                  font-weight: 600;
                  color: #c8e4c7;
                  font-family: 'Poppins', sans-serif;
                  ">3.</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 24px;
                  font-weight: 300;
                  ">{{ 'accueil.rincer'|trans({}, 'home') }}</h5>
               <h5 style="
                  margin-bottom: 10px;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 0px 30px;
                  ">{{ 'accueil.rincer_desc'|trans({}, 'home') }}</h5>
               <img src="https://imgur.com/wuwDbxe.png" class=" img-fluid"  loading="lazy" style="height: 250px;">
            </div>
         </div>
      </div>
   </div>
</section>
<div class="row section-title justify-content-center text-center" style="
   margin-bottom: 0;
   background: #f1f1f1;
   ">
   <div class="col-md-9 col-lg-8 col-xl-10">
      <h3 class="display-4" style="font-size: 21px;color: #1d1d1d;margin-bottom: 0px;padding: 15px 0px;font-weight: 600;">Instagram : @vitanaturalfrance</h3>
   </div>
</div>
<div class="" style=" margin: 0; ">
   <!-- <div class=""> -->
   <div class="img-thumb" style="height: 100%;">
   </div>
   <div class="thumb-middle">
      <div class="image-grid grid-left" style="height: 100%;">
      </div>
      <div class="image-center" style="height: 100%;">
      </div>
      <div class="image-grid grid-right" style="height: 100%;">
      </div>
   </div>
   <div class="image-grid grid-bottom" style="height: 100%;">
   </div>
   <!-- </div> -->
   <!-- <img alt="miniature" style="width: 100%;height: auto;" src="https://imgur.com/e7lw8Og.png">  -->
</div>

