<section>
   <div class="container">
      <div class="row section-title justify-content-center text-center">
         <div class="col-md-9 col-lg-8 col-xl-8">
            <h3 class="display-4" style="
               margin-bottom: 0;
               ">Témoignages</h3>
         </div>
      </div>
      <div class="row">
         {% for temoignage in temoignages |slice(0, 3) %}
         <div class="col-md-6 col-lg-4 mb-3 mb-md-4 mb-lg-0">
            <div class="card h-100 hover-box-shadow" style="
               height: auto !important;
               ">
               <div class="card-body" style="
                  padding: 25px;
                  padding-bottom: 0px;
                  ">
                  {% if temoignage.image %}
                  <div class="rounded o-hidden" style="border-radius: 0.3125rem 0.3125rem 0 0 !important;margin: -10px -10px 20px -10px;">
                     <div class="d-flex position-relative align-items-center justify-content-center rounded">
                        <img src="{{temoignage.image }}"  class="rounded img-fluid"  loading="lazy"  style="width: 100%;height: 220px;" >
                        </a>
                     </div>
                  </div>
                  {% endif %}
                  <h4 style="
                     margin-bottom: 0;
                     font-size: 20px;
                     ">{{temoignage.name}}</h4>
                  <p style="
                     margin-bottom: 5px;
                     font-size: 14px;
                     ">{{temoignage.location}}</p>
                  <div>
                     {% for i in  1..5  %}
                     {% if i <= temoignage.note|number_format  %}
                     <img src="{{asset('assets/img/star_1.svg')}}"  loading="lazy"   style="width: 25px;height: auto;margin-bottom: 10px;">
                     {% else %}
                     <img src="{{asset('assets/img/star_0.svg')}}"  loading="lazy"   style="width: 25px;height: auto;margin-bottom: 10px;">
                     {% endif %}
                     {% endfor %}
                  </div>
                  <p style="
                     ">{{temoignage.text|raw }}</p>
                  <img src="{{asset('assets/img/prod-min.png')}}"   loading="lazy"   style="width: 50px;height: auto;margin-bottom: -45px;">
                  <div style="
                     background: #ef357af7;
                     color: #ffffff;
                     font-size: 16px;
                     text-align: center;
                     padding: 15px 0px;
                     border-radius: 0rem 0rem 0.3125rem 0.3125rem;
                     margin: 0px -25px;
                     ">{{temoignage.progress}}</div>
               </div>
            </div>
         </div>
         {% else %}
         <div>Aucun temoignage enregistre</div>
         {% endfor %}
      </div>
   </div>
   </div>
</section>
<section class="pt-0">
   <div class="container">
      <div class="row section-title justify-content-center text-center" style="
         margin-bottom: 20px;
         ">
         <div class="col-md-12 col-lg-8 col-xl-12">
            <h3 class="display-4" style="
               font-size: 50px;
               margin-bottom: 20px;
               ">Ne vous fier pas à n'importe qui.</h3>
            <h3 class="display-4" style="
               font-size: 30px;
               ">Faite leurs <mark data-aos="highlight-text" data-aos-delay="250" class="aos-init aos-animate" style="
               background-image: linear-gradient(120deg, #009b72 0%, #ffffff 100%);
               ">confiance</mark>.</h3>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col">
            <ul class="avatar-group avatar-group-lg flex-wrap justify-content-center">
               <li>
                  <img src="{{asset('assets/img/avatars/male-1.jpg')}}"  class="avatar avatar-xl "  loading="lazy" >
               </li>
               <li>
                  <img src="{{asset('assets/img/avatars/female-1.jpg')}}"  class="avatar avatar-xl "  loading="lazy" >
               </li>
               <li>
                  <img src="{{asset('assets/img/avatars/male-2.jpg')}}"  class="avatar avatar-xl "  loading="lazy" >
               </li>
               <li>
                  <img src="{{asset('assets/img/avatars/male-3.jpg')}}"  class="avatar avatar-xl "  loading="lazy" >
               </li>
               <li>
                  <img src="{{asset('assets/img/avatars/female-3.jpg')}}"  class="avatar avatar-xl "  loading="lazy" >
               </li>
            </ul>
         </div>
      </div>
      <div class="row justify-content-center mt-4 mt-md-5">
         <div class="col-auto">
            <div class="alert bg-secondary" style="
               margin-bottom: 0px;
               ">Vous en avez pas eu assez ? <a href="{{path('temoignage')}}">Voir tous les témoignages</a>
            </div>
         </div>
      </div>
   </div>
</section>